.season_two {
    background: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.season_two >div >*:first-child {
    margin-bottom: 80px;
}

.season_two_card {
    width: Fixed (900px);
    height: Hug (156px);
    top: 254px;
    left: 270px;
    padding: 20px, 30px, 40px, 30px;
    border-radius: 20px;
    gap: 5px;

    border-radius: 20px;
    padding: 20px, 30px, 40px, 30px;
    background: linear-gradient(94.15deg, #003A92 100%, #002256 100%);
    box-shadow: 0px 0px 50px 0px #0094FF80 inset;
}

.season_two_primary {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.04em;
    text-align: center;
}

.season_two_sub {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.season_two_subsub {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.info_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.season_two_subtitle {
    color: #00d2ff;
    line-height: 31px;
    letter-spacing: 0.04em;
    text-align: center;
    font: 700 32px/36px Raleway, sans-serif;
}

@media screen and (max-width: 800px) {
    .season_two_subtitle {
        font-size: 20px;
        font-weight: 500;
        color: #00d2ff;

    }
}

@media screen and (max-width: 650px) {
    .season_two {
        padding: 70px 0;
    }
    .season_two >div >*:first-child {
        margin-bottom: 60px;
    }
    .season_title {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.04em;
    }
    .season_two_subtitle {
        color: #00d2ff;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.28px;
        font: 700 32px/36px;
    }
}

/* .season_two_subtitle {
    color: #00d2ff;
    text-align: center;
    letter-spacing: 1.28px;
    align-self: center;
    margin-top: 39px;
    max-width: 426px;
    font: 700 32px/36px Raleway, sans-serif;
} */