.card_wrapper {
    position: relative;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    padding: 0 0 0 50px;
}



.card:hover {
    cursor: pointer;
}

.card_completed {
    opacity: .5;
    /* pointer-events: none; */
}

.card_column {}

.card_name {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 5px;
}

.card_Metis {
    background: linear-gradient(94.15deg, #024680 0%, #0088ED 100%);
}

.card_Tethys {
    background: linear-gradient(94.15deg, #3838F1 0%, #0000FF 100%);
}

.card_Unidex {
    background: linear-gradient(94.15deg, #333333 0%, #000000 100%);
}

.card_Maia {
    background: linear-gradient(94.15deg, #140235 0%, #0D0123 100%);
}

.card_Netswap {
    background: linear-gradient(94.15deg, #0051FB 0%, #001284 100%);
}

.card_Hummus {
    background: linear-gradient(94.15deg, #7400AB 0%, #4A006D 100%);
}

.card_Midas {
    background: linear-gradient(94.15deg, #3A4C59 0%, #343434 100%);
}

.card_LeagueTech {
    background: linear-gradient(94.15deg, #424242 0%, #405A6C 100%);
}

.card_state_wrapper {
    position: absolute;
    right: 15px;
    top: 15px;
}

.card_icon {
    width: 100%;
    height: 140px;
}

@media screen and (max-width: 850px) {
    .card {
        padding: 0 0 0 30px;
    }

    .card_name {
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.96px;
    }
}

@media screen and (max-width: 650px) {
    .card_icon {
        height: 106px;
    }
}