.season_one {
    background: rgb(14, 14, 14);
}

.season_one >*:first-child {
    margin-bottom: 55px;
}

@media screen and (max-width: 820px) {
    .season_one >*:first-child {
        margin-bottom: 30px;
    }
}