@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    font-family: Raleway;
    /* font-family: 'Raleway', sans-serif; */
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.container {
    max-width: 1100px;
    padding: 0 20px;
    width: 100%;
}

.hidden {
    display: none;
}