#third_screen {
    background: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.big_btn_unstyled {
    background: #fff;
    color: #000;
    margin-bottom: 15px;
}
.season_two_subtitle {
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0.04em;
    text-align: center;
}