
.content {
    background: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    padding: 0 0 100px;
}

.main_info {
}

.season_white {
    color: #fff;
}

.season_gray {
    color: rgb(74, 74, 74);
}

.info_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.info_text >p >b >a {
    color: aqua;
}

@media screen and (max-width: 800px) {
    .empty_space {
        height: 30px;
    }
    .season_title {
        font-size: 50px;
    }
    .info_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    
}

@media screen and (max-width: 650px) {
    .content {
        padding: 0 0 70px;
    }
    .season_title {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.04em;
    }
}